<link rel="stylesheet" href="/css/home.css">

<main>
	<div class=" mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						Resultados dos Testes
					</div>
					<div class="text-center mt-4 mb-4 d-none" id="loading">
						<div class="spinner-border text-primary" role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
					<div class="card-body" id="main">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Test</th>
									<th scope="col">Tentativa</th>
									<th scope="col">Qtd Perguntas</th>
									<th scope="col">Qtd Prgts respondidas</th>
									<th scope="col">Qtd Prgts corretas</th>
								</tr>
							</thead>
							<tbody>
								{{#each results}}
								<tr>
									<th scope="row">{{ this.testId }}</th>
									<td>{{ this.teste }}</td>
									<td>{{ this.id }}</td>
									<td>{{ this.qtdPerguntas }}</td>
									<td>{{ this.qtdPerguntasResp }}</td>
									<td>{{ this.qtdPerguntasCorretas }}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>