<script src="/controllers/test-resolve-question.controller.js"></script>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Perguntas e Respostas</h2>
            <div class="text-center mt-4 mb-4 d-none" id="loading">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="main">
                <form id="form">
                    {{#each test.perguntas}}
                    <div class="card">
                        <div class="card-body" name="{{ @index }}">
                            <p class="card-text">{{ this.descricao }}</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ @index }}" id="{{ @index }}"
                                    value="A">
                                <label class="form-check-label" for="{{ @index }}">
                                    (A) {{ this.A }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ @index }}" id="{{ @index }}"
                                    value="B">
                                <label class="form-check-label" for="{{ @index }}">
                                    (B) {{ this.B }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ @index }}" id="{{ @index }}"
                                    value="C">
                                <label class="form-check-label" for="{{ @index }}">
                                    (C) {{ this.C }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ @index }}" id="{{ @index }}"
                                    value="D">
                                <label class="form-check-label" for="{{ @index }}">
                                    (D) {{ this.D }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ @index }}" id="{{ @index }}"
                                    value="E">
                                <label class="form-check-label" for="{{ @index }}">
                                    (E) {{ this.E }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3"></div>

                    {{/each}}
                </form>
                <div class="text-center mt-4">
                    <button type="button" onclick="submit({{ test.id }})" class="btn btn-primary">Enviar Respostas</button>
                </div>
            </div>
        </div>
    </div>
</div>