<script src="/controllers/test-resolve-question.controller.js"></script>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Perguntas e Respostas</h2>
            {{#each test.perguntas}}
                <form onsubmit="save(event)" id="form">
                    <div class="card">
                        <div class="card-body" id="{{ this.descricao }}">
                            <p class="card-text">{{ this.descricao }}</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ this.descricao }}" id="{{ this.descricao }}" value="A">
                                <label class="form-check-label" for="{{ this.descricao }}">
                                    (A) {{ this.A }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ this.descricao }}" id="{{ this.descricao }}" value="C">
                                <label class="form-check-label" for="{{ this.descricao }}">
                                    (B) {{ this.B }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ this.descricao }}" id="{{ this.descricao }}" value="C">
                                <label class="form-check-label" for="{{ this.descricao }}">
                                    (C) {{ this.C }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ this.descricao }}" id="{{ this.descricao }}" value="D">
                                <label class="form-check-label" for="{{ this.descricao }}">
                                    (D) {{ this.D }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{ this.descricao }}" id="{{ this.descricao }}" value="E">
                                <label class="form-check-label" for="{{ this.descricao }}">
                                    (E) {{ this.E }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3"></div>

            {{/each}}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Enviar Respostas</button>
                </div>
            </form>
        </div>
    </div>
</div>
